/* VARIABLES */
:host {
  --cv-primary: #00A2ED;
  --cv-secondary: gray;
  --cv-medium: turquoise;
  --cv-light: white;
  --cv-dark: black;
}

/* Template Styles */

dt {
  font-weight: normal;
}

.cv-title-container {
  background-color: var(--cv-primary);
  color: var(--cv-light);
  border-radius: 10px;
  display: flex;
  height: 85px;
}

.info-container {
  flex: 1;
  padding: 0px;
}

.name-container {
  white-space: nowrap; /* Impedisce il testo di andare a capo */
  overflow: hidden; /* Nasconde il testo oltre il contenitore */
  text-overflow: ellipsis; /* Aggiunge l'ellissi (...) */
  max-width: 95%; /* Imposta la larghezza massima desiderata */
}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
}

.image-container img {
  max-width: 100%; /* Assicurati che l'immagine non superi la larghezza del contenitore */
  border-radius: 50%; /* Crea il cerchio */
  object-fit: cover; /* Mantieni l'immagine all'interno del cerchio */
  height: 110px; /* Altezza del cerchio (puoi regolare questa altezza come desideri) */
  width: 110px; /* Larghezza del cerchio (stessa altezza per fare un cerchio) */
  border: 3px solid var(--cv-primary);
}

.experience-section-title {
  margin-bottom: 5px;
  color: var(--cv-primary);
}

.experience-title {
  margin-bottom: 0px;
  color: var(--cv-primary);
}

.education-section-title {
  margin-bottom: 5px;
  color: var(--cv-primary);
}

.education-title {
  margin-bottom: 0px;
  color: var(--cv-primary);
}

.skills-title {
  margin-bottom: 0px;
  color: var(--cv-primary);
}

.certifications-title {
  margin-bottom: 0px;
  color: var(--cv-primary);
}

.languages-title {
  margin-bottom: 0px;
  color: var(--cv-primary);
}

.socials-title {
  margin-bottom: 0px;
  color: var(--cv-primary);
}

.social-labels-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/*#region A4 Sheet Management*/
.a4-div {
  width: 90%;
  max-width: 800px; /* Limiting the maximum width */
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.a4-div:before {
  content: "";
  display: block;
  padding-top: calc(297mm / 210mm * 100%); /* Maintain A4 proportions */
}

@media print {
  body {
    background-color: white;
  }

  .a4-div {
    box-shadow: none;
    border: none;
    padding: 0;
    position: static;
    margin-top: 20px;
  }
}
/*#endregion*/

