<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label for="streetName">LinkedIn:</label>
      <input [(ngModel)]="socialAccounts.linkedin" type="text" class="form-control" placeholder="Inserisci Account">
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label for="streetName">Github:</label>
      <input [(ngModel)]="socialAccounts.github" type="text" class="form-control" placeholder="Inserisci Account">
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label for="streetName">Twitter:</label>
      <input [(ngModel)]="socialAccounts.twitter" type="text" class="form-control" placeholder="Inserisci Account">
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label for="streetName">Telegram:</label>
      <input [(ngModel)]="socialAccounts.telegram" type="text" class="form-control" placeholder="Inserisci Account">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label for="streetName">Facebook:</label>
      <input [(ngModel)]="socialAccounts.facebook" type="text" class="form-control" placeholder="Inserisci Account">
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label for="streetName">Instagram:</label>
      <input [(ngModel)]="socialAccounts.instagram" type="text" class="form-control" placeholder="Inserisci Account">
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label for="streetName">Whatsapp:</label>
      <input [(ngModel)]="socialAccounts.whatsapp" type="text" class="form-control" placeholder="Inserisci Account">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label for="streetName">Youtube:</label>
      <input [(ngModel)]="socialAccounts.youtube" type="text" class="form-control" placeholder="Inserisci Account">
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label for="streetName">Twitch:</label>
      <input [(ngModel)]="socialAccounts.twitch" type="text" class="form-control" placeholder="Inserisci Account">
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label for="streetName">Pinterest:</label>
      <input [(ngModel)]="socialAccounts.pinterest" type="text" class="form-control" placeholder="Inserisci Account">
    </div>
  </div>
</div>
