<div class="toolbar-container">
  <div class="toolbar-subcontainer">
    <div class="toolbar-title">
      <h4>
        <i class="bi bi-file-earmark-richtext"></i>
        CV GENERATOR
      </h4>
      <small>{{version}}</small>
    </div>
  </div>
  <div class="toolbar-subcontainer">

    <button class="btn btn-outline-light" (click)="uploadJson.click()">
      <i class="bi bi-file-arrow-up-fill"></i>
      CARICA CV
    </button>
    <input type="file" #uploadJson (change)="onImportCV($event)" accept=".json" style="display: none">



    <button class="btn btn-outline-light" [disabled]="!cv?.firstName" (click)="downloadJSON(cv)">
      <i class="bi bi-download"></i>
      SALVA CV
    </button>
    <!-- <button class="btn btn-outline-light" [disabled]="!cv?.firstName">
      <i class="bi bi-file-earmark-pdf-fill"></i>
      SALVA PDF
    </button> -->
    <button class="btn btn-outline-light" (click)="printCV()" [disabled]="!cv?.firstName">
      <i class="bi bi-printer-fill"></i>
      STAMPA
    </button>
  </div>
</div>
