<div class="toolbar-container">
  <div class="toolbar-subcontainer">
    <div class="toolbar-title">
      <h4>
        <i class="bi bi-file-earmark-richtext"></i>
        CV GENERATOR
      </h4>
    </div>
  </div>
  <div class="toolbar-subcontainer">
    <button class="btn btn-outline-light" (click)="onImportCV && onImportCV()">
      <i class="bi bi-file-arrow-up-fill"></i>
      CARICA CV
    </button>
    <button class="btn btn-outline-light" (click)="onDownloadCV && onDownloadCV()">
      <i class="bi bi-download"></i>
      SALVA CV
    </button>
    <button class="btn btn-outline-light">
      <i class="bi bi-file-earmark-pdf-fill"></i>
      SALVA PDF
    </button>
    <button class="btn btn-outline-light">
      <i class="bi bi-printer-fill"></i>
      STAMPA
    </button>
  </div>
</div>
