<!-- <button (click)="setCvDatasource()">INJECT LAYOUT</button> -->



<!-- <img *ngIf="selectedImage" [src]="getObjectURL(selectedImage)">
<p>{{selectedImage?.name}}</p> -->

<app-toolbar [onImportCV]="pippo" [cv]="cv"></app-toolbar>

<div style="margin-top: 50px;">
  <fieldset>
    <legend>Dati Anagrafici</legend>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="firstName">Nome:</label>
          <input [(ngModel)]="cv.firstName" type="text" class="form-control" id="firstName"
            placeholder="Inserisci Nome">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="lastName">Cognome:</label>
          <input [(ngModel)]="cv.lastName" type="text" class="form-control" id="lastName"
            placeholder="Inserisci Cognome">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="jobTitle">Titolo di Lavoro:</label>
          <input [(ngModel)]="cv.jobTitle" type="text" class="form-control" id="jobTitle"
            placeholder="Inserisci Titolo di Lavoro">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="email">E-Mail:</label>
          <input [(ngModel)]="cv.email" type="email" class="form-control" id="email" placeholder="Inserisci E-Mail">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="phoneNumber">Numero di Telefono:</label>
          <input [(ngModel)]="cv.phoneNumber" type="tel" class="form-control" id="phone"
            placeholder="Inserisci Numero di Telefono">
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <label for="birthDate">Data di Nascita:</label>
          <input [(ngModel)]="cv.birthDate" type="date" class="form-control" id="birthDate"
            placeholder="Inserisci Data di Nascita">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="firstName">Sito Web:</label>
          <input [(ngModel)]="cv.website" type="url" class="form-control" id="website" placeholder="Inserisci Sito Web">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="photo">Foto:</label>
          <input [(ngModel)]="cv.photo" type="file" class="form-control" id="photo" placeholder="Carica Foto"
            (change)="onImageSelected($event)" accept="image/png, image/jpeg">
          <small id="emailHelp" class="form-text text-muted">Carica file con estensione *.jpeg, *jpg, *.png</small>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Indirizzo</legend>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="streetName">Via:</label>
          <input [(ngModel)]="cv.address.streetName" type="text" class="form-control" id="streetName"
            placeholder="Inserisci Via">
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <label for="streetNumber">Num. Civico:</label>
          <input [(ngModel)]="cv.address.streetNumber" type="text" class="form-control" id="streetNumber"
            placeholder="Inserisci Num. Civico">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="city">Città:</label>
          <input [(ngModel)]="cv.address.city" type="text" class="form-control" id="city" placeholder="Inserisci Città">
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <label for="zipCode">CAP:</label>
          <input [(ngModel)]="cv.address.zipCode" type="text" class="form-control" id="zipCode"
            placeholder="Inserisci CAP">
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Social</legend>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="streetName">LinkedIn:</label>
          <input [(ngModel)]="cv.socialAccounts.linkedin" type="text" class="form-control"
            placeholder="Inserisci Account">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="streetName">Github:</label>
          <input [(ngModel)]="cv.socialAccounts.github" type="text" class="form-control"
            placeholder="Inserisci Account">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="streetName">Twitter:</label>
          <input [(ngModel)]="cv.socialAccounts.twitter" type="text" class="form-control"
            placeholder="Inserisci Account">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="streetName">Telegram:</label>
          <input [(ngModel)]="cv.socialAccounts.telegram" type="text" class="form-control"
            placeholder="Inserisci Account">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="streetName">Facebook:</label>
          <input [(ngModel)]="cv.socialAccounts.facebook" type="text" class="form-control"
            placeholder="Inserisci Account">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="streetName">Instagram:</label>
          <input [(ngModel)]="cv.socialAccounts.instagram" type="text" class="form-control"
            placeholder="Inserisci Account">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="streetName">Whatsapp:</label>
          <input [(ngModel)]="cv.socialAccounts.whatsapp" type="text" class="form-control"
            placeholder="Inserisci Account">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="streetName">Youtube:</label>
          <input [(ngModel)]="cv.socialAccounts.youtube" type="text" class="form-control"
            placeholder="Inserisci Account">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="streetName">Twitch:</label>
          <input [(ngModel)]="cv.socialAccounts.twitch" type="text" class="form-control"
            placeholder="Inserisci Account">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="streetName">Pinterest:</label>
          <input [(ngModel)]="cv.socialAccounts.pinterest" type="text" class="form-control"
            placeholder="Inserisci Account">
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Skill</legend>
    <cv-skills [skills]="cv.skills"></cv-skills>
  </fieldset>

  <fieldset>
    <legend>Lingue</legend>
    <cv-languages [languages]="cv.spokenLanguages"></cv-languages>
  </fieldset>

  <fieldset>
    <legend>Esperienza</legend>
    <cv-experience [experiences]="cv.experience"></cv-experience>
  </fieldset>

  <fieldset>
    <legend>Istruzione</legend>
    <cv-education [educationList]="cv.education"></cv-education>
  </fieldset>




  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-4">

    </div>
  </div>



  <!-- <input type="file" (change)="onImageSelected($event)" accept="image/png, image/jpeg"> -->


  <cv-layout [datasource]="cv"></cv-layout>

</div>
