<!-- <button (click)="setCvDatasource()">INJECT LAYOUT</button> -->



<!-- <img *ngIf="selectedImage" [src]="getObjectURL(selectedImage)">
<p>{{selectedImage?.name}}</p> -->

<app-toolbar [cv]="cv" (cvLoaded)="handleCVLoaded($event)" class="d-print-none"></app-toolbar>


<div class="d-print-none" style="margin-top: 50px; padding: 10px 25px;">
  <fieldset>
    <legend>Dati Anagrafici</legend>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="firstName">Nome:</label>
          <input [(ngModel)]="cv.firstName" type="text" class="form-control" id="firstName"
            placeholder="Inserisci Nome">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="lastName">Cognome:</label>
          <input [(ngModel)]="cv.lastName" type="text" class="form-control" id="lastName"
            placeholder="Inserisci Cognome">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="jobTitle">Titolo di Lavoro:</label>
          <input [(ngModel)]="cv.jobTitle" type="text" class="form-control" id="jobTitle"
            placeholder="Inserisci Titolo di Lavoro">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="email">E-Mail:</label>
          <input [(ngModel)]="cv.email" type="email" class="form-control" id="email" placeholder="Inserisci E-Mail">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="phoneNumber">Numero di Telefono:</label>
          <input [(ngModel)]="cv.phoneNumber" type="tel" class="form-control" id="phone"
            placeholder="Inserisci Numero di Telefono">
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <label for="birthDate">Data di Nascita:</label>
          <input [(ngModel)]="cv.birthDate" type="date" class="form-control" id="birthDate"
            placeholder="Inserisci Data di Nascita">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="firstName">Sito Web:</label>
          <input [(ngModel)]="cv.website" type="url" class="form-control" id="website" placeholder="Inserisci Sito Web">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="photo">Foto:</label>
          <input [(ngModel)]="cv.photo" type="file" class="form-control" id="photo" placeholder="Carica Foto"
            (change)="onImageSelected($event)" accept="image/png, image/jpeg">
          <small id="emailHelp" class="form-text text-muted">Carica file con estensione *.jpeg, *jpg, *.png</small>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group mt-4">
          <input [(ngModel)]="cv.showPrivacyInfo" type="checkbox" class="form-check-input me-1" id="privacyInfo">
          <label for="privacyInfo">Mostra Informativa Privacy</label>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Indirizzo</legend>
    <cv-address [address]="cv.address"></cv-address>
  </fieldset>

  <fieldset>
    <legend>Social</legend>
    <cv-social-accounts [socialAccounts]="cv.socialAccounts"></cv-social-accounts>
  </fieldset>

  <fieldset>
    <legend>Skill</legend>
    <cv-skills [skills]="cv.skills"></cv-skills>
  </fieldset>

  <fieldset>
    <legend>Certificazioni</legend>
    <cv-certifications [certifications]="cv.certifications"></cv-certifications>
  </fieldset>

  <fieldset>
    <legend>Lingue</legend>
    <cv-languages [languages]="cv.spokenLanguages"></cv-languages>
  </fieldset>

  <fieldset>
    <legend>Esperienza</legend>
    <cv-experience [experiences]="cv.experience"></cv-experience>
  </fieldset>

  <fieldset>
    <legend>Istruzione</legend>
    <cv-education [educationList]="cv.education"></cv-education>
  </fieldset>




  <!-- <div class="row">
    <div class="col-4">

    </div>
    <div class="col-4">

    </div>
  </div> -->



  <!-- <input type="file" (change)="onImageSelected($event)" accept="image/png, image/jpeg"> -->



</div>



<cv-layout [datasource]="cv"></cv-layout>
